body {
    margin: 0;
    font-family: "Vazir", sans-serif, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

input,
textarea,
button {
    font-family: inherit;
}

div {
    font-size: 14px;
}

button {
    cursor: pointer;
}

.Toastify__toast-body {
    font-family: "Vazir";
}
